a{
    font-family: 'Arial Narrow';
}
h2{
    font-family: 'Arial Narrow';
}
h3{
    font-family: 'Arial Narrow';
}
h4{
    font-family: 'Arial Narrow';
}
h5{
    font-family: 'Arial Narrow';
}
p{
    font-family: 'Arial Narrow';
}
li{
    font-family: 'Arial Narrow';
}
img{
    width: 50px;
    height: 50px;
}
#top{
    display: inline-block;
    background-color: white;
    width: 970px;
}
    #top img{
        position: relative;
        width: 120px;
        height: 120px;
        z-index: 1;
    }
    #top h2{
        display: inline-block;
        position: relative;
        top: -10px;
        vertical-align: top;
        font-size: 40px;
    }
    #top h3{
        display: block;
        position: relative;
        top: -60px;
        background-color: rgb(20, 77, 141);
        height: 25px;
        color: white;
        padding: 22px;
        font-size: 26px;
    }
#sidebar{
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 170px;
    width: 220px;
    height: 640px;
}
    #sidebar :nth-child(3){
        background-color: lightblue;
        position: relative;
        left: 10px;
        border-radius: 10px;
        display: block;
        padding: 5px;
        width: 200px;
    }
    #sidebar :nth-child(4){
        background-color: orange;
        position: relative;
        left: 10px;
        border-radius: 10px;
        display: block;
        padding: 5px;
        width: 200px;
    }
    #sidebar :nth-child(5){
        background-color: rgb(180, 180, 180);
        position: relative;
        width: 200px;
        top: 10px;
        height: 2px;
        z-index: 1;
    }
    #sidebar :nth-child(6){
        position: relative;
        left: 10px;
        top: 20px;
        width: 200px;
        height: 300px;
    }
    #sidebar :nth-child(7){
        position: relative;
        top: -175px;
        left: 68px;
        width: 75px;
        height: 100px;
    }
    #sidebar p{
        color: white;
        position: relative;
        font-size: 26px;
        width: 170px;
        height: 50px;
        top: -395px;
        left: 25px;
        text-align: center;
    }
    #sidebar :nth-child(9){
        position: relative;
        top: -250px;
        left: 50px;
        padding: 5px;
        color: white;
        background-color: aqua;
        border-radius: 8px;
    }
#main{
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 161px;
    left: 230px;
    width: 728px;
    height: 640px;
    margin-left: 20px;
}
    #main >:nth-child(1){
        display: block;
        height: 70px;
    }
        #main >:nth-child(1) :nth-child(1){
            display: inline-block;
            position: relative;
            width: 22px;
            height: 22px;
            top: -20px;
            left: 5px;
        }
        #main >:nth-child(1) :nth-child(2){
            display: inline-block;
            position: relative;
            top: -25px;
            left: 5px;
            text-decoration: none;
        }
        #main >:nth-child(1) :nth-child(3){
            display: inline-block;
            position: relative;
            left: 540px;
            top: -43px;
            font-size: 11px;
        }
        #main >:nth-child(1) :nth-child(4){
            display: inline-block;
            position: relative;
            left: 345px;
            width: 50px;
            height: 50px;
        }
        #main >:nth-child(1) :nth-child(5){
            display: inline-block;
            position: relative;
            left: 350px;
            top: -18px;
            font-size: 26px;
            color: turquoise;
        }
        #main >:nth-child(1) :nth-child(6){
            display: inline-block;
            position: relative;
            left: 238px;
            top: -2px;
            font-size: 10px;
        }
        #main >:nth-child(1) :nth-child(7){
            background-color: black;
            position: relative;
            top: -39px;
            height: 1px;
            width: 725px;
            z-index: 1;
        }
    #main >:nth-child(2){
        display: inline-block;
        vertical-align: top;
        height: 240px;
    }
        #main >:nth-child(2) h4{
            color: darkcyan;
            font-size: 20px;
            position: relative;
            top: -20px;
            left: 5px;
        }
        #main >:nth-child(2) p{
            position: relative;
            top: -37px;
            left: 5px;
            font-size: 15px;
        }
        #main >:nth-child(2) ul{
            position: relative;
            top: -48px;
            font-size: 15px;
        }
        #main >:nth-child(2) img{
            position: relative;
            width: 240px;
            height: 80px;
            top: -50px;
            left: 250px;
        }
    #main >:nth-child(3){
        display: inline-block;
        vertical-align: top;
    }
        #main >:nth-child(3) h4{
            display: inline-block;
            color: darkcyan;
            position: relative;
            top: -10px;
            font-size: 20px;
        }
        #main >:nth-child(3) ol{
            position: relative;
            top: -45px;
        }
    #main >:nth-child(4){
        display: inline-block;
        position: relative;
        border-width: 3px;
        border-style: solid;
        border-color: blue;
        top: -50px;
        height: 150px;
    }
        #main >:nth-child(4) img{
            display: inline-block;
            position: relative;
            width: 120px;
            height: 120px;
            left: 20px;
            top: 20px;
        }
        #main >:nth-child(4) h4{
            display: inline-block;
            position: relative;
            top: -80px;
            left: 35px;
            color: darkcyan;
            font-size: 20px;
        }
        #main >:nth-child(4) p{
            display: inline-block;
            position: relative;
            left: 158px;
            top: -100px;
            width: 500px;
            margin: 2px;
        }